footer{
    background: rgb(45,43,52);
    background: linear-gradient(90deg, rgba(45,43,52,1) 0%, rgba(45,43,51,1) 24%, rgba(45,43,52,1) 50%, rgba(45,43,54,1) 81%, rgba(45,43,50,1) 100%);
    position: relative;
    width: 100%;
    height: 400px;
    overflow: hidden;
}
.col{
   padding:0px;
}
footer>.row>.col>.title{
    color: white;
    font-size: 32px;
    margin-top: 50px;
}
footer>.row>.col>.text{
    color: white;
    font-size: 24px;
    cursor: pointer;
    margin-top: 15px;
}

.text:hover{
    color: #f58825;
}