
.topcontainer__main{
    position: relative;
    width: 100%;
    height: 100%;
    color: aliceblue;
    
}
.title-block{
    display: flex;
    justify-content: right;
    font-style: normal;
    font-weight: 700;
    padding: 10% 15% 0 0;

}
.title-block>h3{
    font-size: 31px;
    text-shadow: 2px 2px 3px black;
}

.topcontainer__main::before{
    z-index: -2;
    content: "";
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    background-image: url(../img/main-bg2.jpg);
    background-size: cover;
    opacity: 0.9;
}

.content-block{
    height: 800px;
    position: relative;
    margin: 150px 40px 0 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    flex-direction: row;
   
}
.service-block{
    position: relative;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    /* font-size: 35px; */
    width: 250px;
    height: 200px;
    margin: 150px 0;
    border: 1px white solid;
    border-radius: 3%;
    
}
.button-block{
    width: 100%;
    padding-bottom: 30px;
    display: flex;
    justify-content: center;
}
.main-page-button{
    margin-top: 50px;
    font-size: 31px !important;
    background: #1A1820 !important;
    border: 1px #1A1820 solid !important;
    width: 450px;
    height: 100px;
    cursor: pointer;
    transition: 1s all !important;
}
.main-page-button:hover{
    background: white !important;
    color: black !important;
    box-shadow: 5px 5px 5px black;
    border: 1px black solid !important;
    transition: 1s all;
}

@media screen and (min-width: 1800px) {
    .content-block{
        
        width: 1400px;
    }
    .topcontainer__main{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .service-block{
        width: 350px;
        height: 250px;
        margin-top: 0;
    }
}

.main-content{
    margin-top: 150px;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.block{
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.left-block>img{
    border-radius: 5%;
}
.right-block{
    margin-left: 100px;
    width: 400px;
}
.title{
    display: flex;
    justify-content: space-around;
    font-size: 31px;
    font-weight: 600;
    padding-top: 50px;
    width: 500px;
}
.right-block>.name{
    margin-top: 40px;
    font-size: 24px;
    font-weight: 400;
}
.right-block>Button{
    margin-top: 40px;
    font-size: 24px;
    
    color: black;
    border: 2px solid black; 
}
.right-block>Button:hover{
    background-color:#3D6571;
    border: 2px solid #3D6571; 
}
@media screen and (max-width: 1400px) {
    .visit-cart-block{
        display: flex;
        justify-content: center;
        flex-direction: column;
    }
    .block{
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        margin-top: 100px;
        justify-content: center;
    
    }
    .right-block{
        margin: 100px;
        justify-content: center;
    }
}
.about-block{
    /* margin: 200px 0; */
    width: 100%;
    display: flex;
    background: #e6e3e3;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.about-block>.title{
    margin-top: 60px;
   
    
}
.about-block>.main-block{
    margin-bottom: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    
}
.icon-block-img{
    width: 250px;
    height: 250px;
    border-radius: 50%;
    box-shadow: black 5px 5px 15px;
    opacity: 0.95;
}
.bottom-block{
    display: flex;
    flex-direction: row;
    align-items: stretch;
    width: 100%;
}
@media screen and (max-width: 1810px) and (min-width: 1450px) {
    .bottom-block{
        flex-wrap: wrap;
        justify-content: center;
    }
    .achievement-block{
        justify-content: center;
        margin: 40px 130px !important;
    }
}


.main-block>.center-block{
    margin-top: 30px;
    width: 70%;
    display: flex;
    justify-content: center;
    height: 500px;
}

.center-block>iframe{
    position: relative;
    width: 100%;
    height: 500px;
    border: none;
  
}
.section-title-text{
    margin-bottom: 40px;
    padding-top: 50px;
    
}
@media screen and (min-width: 1600px) {
    .center-block>iframe{
    max-width: 850px;
    }
    .about-block>.main-block{
        /* margin-bottom: 100px; */
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 80%;
        justify-content: space-between;
        
    }
    
}

/*Блок О Нас на 1400px меньше !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! */
/*Блок О Нас на 1400px меньше !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! */
/*Блок О Нас на 1400px меньше !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! */
/*Блок О Нас на 1400px меньше !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! */
/*Блок О Нас на 1400px меньше !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! */
/*Блок О Нас на 1400px меньше !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! */
@media screen and (max-width: 1450px) {
    .about-block>.main-block{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        justify-content: space-between;
        
    }
    .center-block>iframe{
        position: relative;
        width: 100%;
        height: 450px;
        border: none;
        margin: auto;
    }
    
    .bottom-block{
        flex-wrap: wrap;
        justify-content: center;
    }
    .service-block{
        font-weight: 400;
        width: 250px;
        height: 150px;
    }
    .content-block{
        margin-top: 0;
    }
    .about-block__description--block{
        display: flex;
        flex-direction: column !important;
    }
    .text-block{
        width: 70% !important;
    }
    
}
.achievement-block{
    width: 350px;
    margin: 50px;
}
.achievement-block>.icon{
    font-size: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.achievement-title{
    font-size: 24px;
    margin-top: 15px;
    display: flex;
    justify-content: center;
}
.achievement-text{
    margin-top: 15px;
    font-size: 16px;
    
}
.life-block{
    display: flex;
    flex-direction: column;
    overflow: hidden;
    box-sizing: border-box;
    padding: 0 40% 0 40%;
    
}
.main-life-block{
    margin-top: 100px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tab-inside{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.carousel-inside{
    position: relative;
    width: 1800px;
    height: 900px;
    display: flex;
    justify-content: center;
    overflow: hidden;
    
}
.carousel-block{
    overflow: hidden;
}
.carousel-block>.carousel-item{
    overflow: hidden;
    display: flex;  
    flex-direction: row;
    justify-content: center;
    flex-wrap: nowrap;
    
}
@media screen and (max-width: 1400px) {
    .carousel-inside{
        position: relative;
        display: flex;
        width: 100% ;
        height: 700px;
        
        flex-direction: row;
        justify-content: center;
        
        
    }
    .carousel-inner{
        width: 800px !important;
    }
    .carousel-control-prev{
        position: absolute !important;
        left: -52px !important;
        
    }
    .carousel-control-next{
        position: absolute !important;
        right:  -52px !important;
    }
    
}
@media screen and (max-width: 780px) {
    /* .detective-cart-img{
        width: 550px;
    }
    .detective-cart{
        width:600px ;
    } */
    .carousel-item{
        display: flex;
        align-items: center;
    }
    .carousel-inside{
        position: relative;
        display: flex;
        width: 100% ;
        height: 1300px;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        
        
    }
    .carousel-control-prev{
        position: absolute !important;
        left: 80px !important;
    }
    .carousel-control-next{
        position: absolute !important;
        right: 80px !important;
    }
    .detective-img{
        max-height: 350px;
        border-radius: 0;
    }
}
.detective-img{
    max-width: 400px;
    border-radius: 2%;
}
.image-block{
    width: 30%;
    display: flex;
    justify-content: center;
}
.about-block__description--block{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 0 50px 50px 100px;
}
.text-block{
    width: 50%;
    display: flex;
    align-items: center;
    flex-direction: column;
}