section{
    position: relative;
    width: 100%;
    margin-top: 50px;
    justify-content: center;
}
.main-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.main-section-text{
    font-style: italic; 
    margin-top: 50px;
    font-weight: 400;
    font-size: 24px;
    width: 60%;
    align-items: center;
}
.section-title-text{
    display: flex;
    justify-content: center;
    font-weight: 600;
    font-size: 35px;
}
.section-content{
    margin-top: 50px;
    justify-content: space-around;
    display: flex;
    flex-direction: row;
}
.section-content-services{
    width: 40%;
}