section{
    position: relative;
    width: 100%;
    margin: 150px 0;
    justify-content: center;
}
.main-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.main-section-text{
    font-style: italic; 
    margin-top: 50px;
    font-weight: 400;
    font-size: 26px;
    width: 60%;
    align-items: center;
}
.main-section-img{
    max-width: 800px;
    max-height: 400px;
    margin-bottom: 50px;
    border-radius: 10%;
}
.section-title-text{
    display: flex;
    justify-content: center;
    font-weight: 600;
    font-size: 36px;
}
.section-content{
    margin-top: 50px;
    justify-content: space-around;
    display: flex;
    flex-direction: row;
}
.section-content-services{
    width: 40%;
}
.reverce{
    flex-direction: row-reverse;
}
p{
    margin-top: 15px !important;
}
.accordion-title{
    font-size: 24px;
    font-weight: 400;
}
.accordion-text{
    font-size: 20px;
}
.section-image{
    width:500px ;
    height: 400px;
    border-radius: 10%;
}
.accordion-button-field{
    display: flex;
    justify-content: center;
    margin: 15px;
}
.accordion-link-button{
    font-size: 24px !important;
    background: white !important;
    color: black !important;
    border: 2px solid black !important;
   
    
}

.accordion-link-button:hover{
    transition: 0.5s all;
    color: white !important;
    background: black !important;
    box-shadow: 3px 3px 3px rgb(45,43,52);; 
    opacity: 0.8;
}