.service-card{
    position: relative;
    width: 400px;
    height: 210px !important;
    overflow: hidden;  
    cursor: pointer;
    opacity: 0.90;
    
}
.card-title-text{
    font-size: 31px !important;
    font-weight: 700;
    text-shadow: 1px 1px 2px black;
    transition: all 0.6s;
    
}
.service-image{
    transition: all 0.6s;
}
.card-body-text{
    text-shadow: 1px 1px 2px black;
    opacity: 0;
    font-size: 24px;
    margin-top: 50px;
    transition: all 0.6s;
    position: absolute;
    top: 0;
}
.visible{
    opacity: 0.9;
}
.shadow{
    opacity: 0.5;
}
.hide{
    /* transition: all 0.4s;
    display: none; */
    opacity: 0;
}
@media screen and (max-width: 700px) {
    .service-card{
        overflow: hidden !important;
        width: 300px;
    height: 150px !important;
    }
}